.gameField{
    position: relative;
    float: left;
    width: 600px;
    height: 500px;
  
    border: 1px solid black;
    background-image: url("../maps/mapa1.jpg"); 
    background-size: 100% auto;
}

.starShip{
    position: absolute;
    bottom: 0;
    width: 600px;
    margin-left: -300px;
    position: absolute;
    left: 50%;
}

.shoot{
    width: 2px;
    height: 20px;
    background-color: red;
    position: absolute;
    top: 400;
    left: 200;
}

.hide{
    visibility: hidden;
}

.enemy{
  -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(180deg);        /* FF */
  -o-transform: rotate(180deg);          /* Opera */
  -ms-transform: rotate(180deg);         /* IE9 */
  transform: rotate(180deg);             /* W3C compliant browsers */
  position: absolute;
}

.airPlane{
    position: absolute;
    bottom: 0px;
    left: 250px;
    border: 1px solid black;
}

.artefactsBasic{
    position: absolute;
    bottom: 300px;
    left: 300px;
}

.artefactsBasic > div > img{
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.artefactsBasic > img{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    margin-left: -60px;
    margin-bottom: -75px;
}

.scoring
{
    float: left;
    margin-left: 10px
}

body {
    overflow:hidden;
}